@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  margin: 0;
  padding: 0;
}

/********** Tailwind utility classes **********/
.nav-links {
  @apply dark:text-slate-50 dark:hover:border-white dark:hover:border-b-2 hover:border-b-2 hover:border-black;
}

.text-cyan {
  @apply text-cyan-400 font-semibold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
